{% extends './base.html.twig' %}

    {% block body %}

    <div class="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.login, {'attr': {'class': 'form-control', 'style': 'width: 30%'}}) }}
            {{ form_row(form.email, {'attr': {'class': 'form-control', 'style': 'width: 30%'}}) }}
            {{ form_row(form.password.first, {'attr': {'class': 'form-control', 'style': 'width: 30%'}}) }}
            {{ form_row(form.password.second, {'attr': {'class': 'form-control', 'style': 'width: 30%'}}) }}
            </br>
            {{ form_row(form.submit,{'attr': {'class': 'btn btn-success'}}) }}

            {{ form_end(form) }}

        </div>

    {% endblock %}