{% extends 'base.html.twig' %}

        {% block body %}

            <p style="color: white;">Poziom szukania kamienia w twojej wiosce : {{ food_value.level }}</p>
            <p style="color: white;">Ilośc kamienia w twojej wiosce : {{ food_value.value }}</p>
            <p style="color: white;">Czas oczekiwania to : 10 minut</p>
            <p style="color: white;">Misja zakończy się o : {{ time|date('H:i:s') }}</p>

            <h2>Czy robotnicy mają kopać kamień ?</h2>


            <a href="{{ path('getStone') }}"><button class="btn-success">TAK</button></a>
            <a href="{{ path('viewMenu') }}"><button class="btn-danger">NIE</button></a>

            <h2>Czy chcesz zwiększyć poziom kopania kamienia ?</h2>


            <a href="{{ path('addedLevelStone') }}"><button class="btn-success">TAK</button></a>
            <a href="{{ path('viewMenu') }}"><button class="btn-danger">NIE</button></a>


        {% endblock %}