{% extends 'base.html.twig' %}

        {% block body %}

            <p style="color: white;">Poziom szukania jedzenia w twojej wiosce : {{ food_value.level }}</p>
            <p style="color: white;">Ilośc jedzenia w twojej wiosce : {{ food_value.value }}</p>
            <p style="color: white;">Czas oczekiwania to : 10 minut</p>
            <p style="color: white;">Misja zakończy się o : {{ time|date('H:i:s') }}</p>


<hr>
            {% if status is not null %}

                <p style="color: white;">Obecna misja zakończy się o : {{ timeFinish|date('H:i:s') }}</p>

                <a href="{{ path('getFood') }}"><button class="btn-success">Zakończ misje</button></a>

            {% else %}
                <h2>Czy chcesz wysłać swoich ludzi na poszukiwania za jedzeniem ?</h2>

                <a href="{{ path('checkStatus') }}"><button class="btn-success">TAK</button></a>
                <a href="{{ path('viewMenu') }}"><button class="btn-danger">NIE</button></a>
           {% endif %}




            <h2>Czy chcesz zwiększyć poziom szukania jedzenia w twojej wiosce ?</h2>


            <a href="{{ path('addedLevelFood') }}"><button class="btn-success">TAK</button></a>
            <a href="{{ path('viewMenu') }}"><button class="btn-danger">NIE</button></a>



        {% endblock %}