{% extends 'base.html.twig' %}

        {% block body %}

            <p style="color: white;">Poziom szukania jedzenia w twojej wiosce : {{ food_value.level }}</p>
            <p style="color: white;">Ilośc jedzenia w twojej wiosce : {{ food_value.value }}</p>
            <p style="color: white;">Czas oczekiwania to : 10 minut</p>
            <p style="color: white;">Misja zakończy się o : {{ time|date('H:i:s') }}</p>

            <h2>Czy chcesz wysłać swoich ludzi na poszukiwania za jedzeniem ?</h2>


            <a href="{{ path('getFood') }}"><button class="btn-success">TAK</button></a>
            <a href="{{ path('viewMenu') }}"><button class="btn-danger">NIE</button></a>

            <h2>Czy chcesz zwiększyć poziom szukania jedzenia w twojej wiosce ?</h2>


            <a href="{{ path('addedLevelFood') }}"><button class="btn-success">TAK</button></a>
            <a href="{{ path('viewMenu') }}"><button class="btn-danger">NIE</button></a>


        {% endblock %}